################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/GoTrip.Web/FileContentIndex/58d22784-24a1-42e3-b0d8-65215a07be01.vsidx
/.vs/GoTrip.Web/FileContentIndex/8c882e7a-7376-49ea-b3f4-77e5f74c2821.vsidx
/.vs/GoTrip.Web/FileContentIndex/a08a9672-50a8-4eda-8526-cc7fe2a7f755.vsidx
/.vs/GoTrip.Web/FileContentIndex/cae2093a-d28a-4f76-8c91-164b43621f3a.vsidx
/.vs/GoTrip.Web/FileContentIndex/e0faceae-4683-4534-a810-7b4eebd2e207.vsidx
